<aside class="main-sidebar">
  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <i class="fas fa-industry brand-icon"></i>
    <div class="brand-text">
      <span class="brand-name">HSK</span>
      <span class="brand-suffix">PRO</span>
    </div>
  </a>

  <!-- Sidebar Content -->
  <div class="sidebar-content">
    <!-- User Panel -->
    <div class="user-panel">
      <div class="user-avatar">
        <i class="fas fa-user-tie user-avatar-icon"></i>
        <span class="online-badge"></span>
      </div>
      <div class="user-info">
        <p class="user-name">{{ (authService.currentUser())?.username }}</p>
        <span class="user-status">
          <i class="fas fa-circle"></i>
          Online
        </span>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="sidebar-menu">
      <div class="menu-header">MENU UTAMA</div>
      
      <ul class="menu-list">
        <ng-container *ngFor="let item of menuItems">
          <!-- Direct Route Item -->
          <li class="menu-item" *ngIf="!item.children && hasPermission(item.roles)">
            <a [routerLink]="item.route" 
               routerLinkActive="active"
               class="menu-link">
              <i [class]="item.icon"></i>
              <span class="menu-text">{{ item.label }}</span>
              <span class="tooltip">{{ item.label }}</span>
              <span class="menu-badge" *ngIf="item.label === 'Report'">NEW</span>
            </a>
          </li>

          <!-- Parent with Children -->
          <li class="menu-item has-submenu" *ngIf="item.children && hasPermission(item.roles)">
            <a (click)="toggleMenu(sanitizeLabel(item.label))" class="menu-link parent-link">
              <i [class]="item.icon"></i>
              <span class="menu-text">{{ item.label }}</span>
              <span class="tooltip">{{ item.label }}</span>
              <i class="fas fa-chevron-right submenu-arrow"></i>
            </a>

            <!-- Submenu -->
            <ul class="submenu" 
                *ngIf="isMenuExpanded(sanitizeLabel(item.label))">
              <li class="submenu-item" *ngFor="let child of item.children">
                <a [routerLink]="child.route"
                   routerLinkActive="active"
                   class="submenu-link">
                  <i [class]="child.icon"></i>
                  <span>{{ child.label }}</span>
                </a>
              </li>
            </ul>
          </li>
        </ng-container>
      </ul>
    </nav>
  </div>
</aside>
