<div class="row">
  <!-- Small Card Stats -->
  <div class="col-lg-3 col-6">
    <div class="small-box bg-info">
      <div class="inner">
        <h3>{{ stats.first_stock | number }}</h3>
        <p>First Stock</p>
      </div>
      <div class="icon">
        <i class="fas fa-cubes"></i>
      </div>
      <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>

  <div class="col-lg-3 col-6">
    <div class="small-box bg-success">
      <div class="inner">
        <h3>{{ stats.receiving | number }}</h3>
        <p>Receiving</p>
      </div>
      <div class="icon">
        <i class="fas fa-arrow-down"></i>
      </div>
      <a href="/receiving" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>

  <div class="col-lg-3 col-6">
    <div class="small-box bg-warning">
      <div class="inner">
        <h3>{{ stats.shipping | number }}</h3>
        <p>Shipping</p>
      </div>
      <div class="icon">
        <i class="fas fa-arrow-up"></i>
      </div>
      <a href="/shipping" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>

  <div class="col-lg-3 col-6">
    <div class="small-box bg-danger">
      <div class="inner">
        <h3>{{ stats.warehouse_stock | number }}</h3>
        <p>Warehouse Stock</p>
      </div>
      <div class="icon">
        <i class="fas fa-warehouse"></i>
      </div>
      <a href="/stock" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
</div>

<!-- Charts Row -->
<div class="row mt-4">
  <div class="col-md-12">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Daily Chart</h3>
      </div>
      <div class="card-body">
        <canvas baseChart 
                [data]="chartData"
                [options]="chartOptions"
                [type]="chartType"
                style="position: relative; height: 400px;">
        </canvas>
      </div>
    </div>
  </div>
</div>