<div class="layout-container">
  <app-navbar></app-navbar>
  
  <div class="layout-body">
    <app-sidebar></app-sidebar>
    
    <main class="layout-content">
      <div *ngIf="authService.isActingAs()" class="act-as-banner">
        <i class="fas fa-user-secret me-2"></i>
        Kamu sedang bertindak sebagai <strong class="m-1">{{ authService.currentUser()?.username }}</strong>
        ({{ authService.currentUser()?.realUsername }} - IT)
        <button class="btn btn-sm btn-dark ms-3" (click)="onExitActAs()">
          <i class="fas fa-sign-out-alt me-1"></i> Keluar mode Act-as
        </button>
      </div>
      <div class="content-area">
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </main>
  </div>
</div>